<div class="mb-10">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="h3 m-0">Customer</h1>
      <small class="text-muted breadcrumb">Customer</small> </div>
    <div class="col-sm-6 col-xs-12 text-right">
      <button class="btn btn-raised btn-info pull-right filter_trigger" (click)="toggleShow();">Filter
      <div class="ripple-container"></div>
      </button>
    </div>
  </div>
</div>
<div class="boxs">
  <div class="row"> 
    <!-- /Filter Panel-->
    <div class="boxs-widget filter_block" *ngIf="show">
      <div class="col-sm-3">
        <div class="form-group is-empty">Name<input type="text" name="name" #name="ngModel" [(ngModel)]="data.name" class="form-control" placeholder="Enter Name"><span class="material-input"></span></div>
      </div>
      <div class="col-sm-3">
          <div class="form-group is-empty">Contact No<input type="number" name="contactNo" #contactNo="ngModel" [(ngModel)]="data.contactNo" class="form-control" placeholder="Number"><span class="material-input"></span></div>
      </div>
      <div class="col-sm-3">
        <div class="form-group is-empty">Country<select [(ngModel)]="data.countryId" #countryId="ngModel" name="countryId" class="form-control selectborder" (change)="selectCountry($event)" required>
          <option value="" selected>Select</option>
          <option *ngFor="let cat of countryList" value="{{cat.id}}">
              {{cat.name}}
          </option>
      </select>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group is-empty">State<select [(ngModel)]="data.stateId" #stateId="ngModel" name="stateId" class="form-control selectborder"  required>
        <option value="" selected>Select</option>
        <option *ngFor="let cat of stateList" value="{{cat.id}}">
            {{cat.name}}
        </option>
    </select>
  </div>
  </div>
      <div class="clearfix"></div>
      <div class="form-group">
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-raised btn-danger" (click)="filterSearch($event)">Search
          <div class="ripple-container"></div>
          </button>
          <button type="reset" class="btn btn-raised btn-default" (click)="resetfilter($event)" >Reset</button>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
    </div>
    <!--End/.-->
    <div class="col-md-12">
      <div class="boxs-widget">
        <div class="row">
          <div class="col-md-6"> <a class="btn btn-success btn-raised" routerLink="Create" role="button">Add New</a>  </div>
          <div class="col-md-6 text-right pagestatus">
            <small class="text-muted">
              Per page
              <select (change)="optionpage($event)">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select>
              showing <strong class="text-darkgray">{{(pageNo*pageSize)-(pageSize-1)}}</strong> to <strong class="text-darkgray">{{pageNo*pageSize>=totalRecords?totalRecords:pageNo*pageSize}}</strong> of <strong class="text-darkgray">{{totalRecords}}</strong>
            </small>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="boxs-body">
        <div class="table-responsive">
          <table class="table mb-0 table-striped" id="usersList">
            <thead>
              <tr class=" bg-lightgray">
                <th class="text-darkgray textalignn">Customer Id</th>
                <th class="text-darkgray textalignn">Name</th>
                <th class="text-darkgray textalignn">Contact Person</th>
                <th class="text-darkgray textalignn">Contact No</th>
                <th class="text-darkgray textalignn">Country Name</th>
                <th class="text-darkgray textalignn">State Name</th>
                <th class="text-darkgray textalignn" style="width:10%;text-align:center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customerList">
                  <td class="textalignn">{{customer.customerId}}</td>
                  <td class="textalignn">{{customer.name}}</td>
                  <td class="textalignn">{{customer.contactPerson}}</td>
                  <td class="textalignn">{{customer.contactNo}}</td>
                  <td class="textalignn">{{customer.countryName}}</td>
                  <td class="textalignn">{{customer.stateName}}</td>
                <td class="textalignn" style='width:10%'><a [routerLink]="['Update',customer.customerId]" class="p-5 text-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <a href="#" class="p-5 text-blush"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
              </tr>
           
            </tbody>
          </table>
        </div>
      </div>
      <!-- /boxs body --> 
      
      <!-- boxs footer -->
      <div class="boxs-footer dvd dvd-top">
        <div class="row">
          <div class="col-md-12 text-right">
            <ul role="button" *ngIf="pager.pages && pager.pages.length" class="pagination">
 
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)"> <i class="fa fa-chevron-left"></i></a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li>
                <button class="button" [ngClass]="{'disabled':pager.currentPage === pager.totalPages}" [disabled]="pager.currentPage === pager.totalPages" style="min-height: 5px !important" (click)="setPage(pager.currentPage + 1)"> <i class="fa fa-chevron-right"></i></button>
              </li>

            </ul>
          </div>
          </div>
        </div>
      <!-- /boxs footer --> 
    </div>
  </div>
</div>
