.toggle1Class{
    /* position: absolute !important; */
        top: 60px !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        left: 0px !important;
        padding-left: 0 !important;
        padding-top: 0 !important;
        z-index: 1 !important;
    }