.pagination > li > button {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: gray;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }  
  
  .pagination > li > .button:hover {
    background-color: lightgray;
    color: #337ab7
  }
 